<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js Advanced Demo</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="bower_components/material-design-lite/material.css">
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        
        <div id="demo">

            <!-- Expandable Textfield -->
            <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" v-if="loading"></div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                  <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="text" id="sample6" v-model="searchData">
                  <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                </div>
              </div>
              <button class="mdl-button mdl-js-button mdl-button--raised" v-on:click="doThat()">
              Search
            </button>
            <div class="mdl-grid"  v-for="book in books.Books">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-card mdl-shadow--4dp">
                      <div class="mdl-card__media"><img v-bind:src="book.Image" width="173" height="157" border="0"
                       alt="" style="padding:10px;">
                      </div>
                      <div class="mdl-card__supporting-text">
                        {{book.Title}}
                      </div>
                      <div class="mdl-card__supporting-text">
                      {{book.Description}}
                      </div>
                       <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>
            <div v-if="books.Total==0">There are no books for {{searchData}}</div>
        
        <script type="text/javascript" src="bower_components/material-design-lite/material.js"></script>
        <script type="text/javascript" src="./bundle.js"></script>
        
    </body>
</html>