<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js Basics Demo</title>
    </head>
    <body>
        
        <div id="hithere">
            <p>{{message}}</p>
            <p>{{computedMessage}}</p>
            <input type="text" v-model="message"/>
        </div>
        
        <script type="text/javascript" src="../libs/vue/dist/vue.js"></script>
        <script type="text/javascript">
            Vue.config.debug = true;
            var vm = new Vue({
              el: '#hithere',
              data: {
                message: 'Hello Vue.js!',
                otherMessage: ' AngularJS is getting outdated'
              },
              computed:{
                computedMessage:{
                    get:function(){
                        return this.message + this.otherMessage;
                    },
                    set:function(newVal){
                        console.log(newVal);
                    }
                }
              }
            });
            
            
        </script>
        
    </body>
</html>