<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js Basics Demo</title>
        <link rel="stylesheet" href="styles.css" type="text/css" />
    </head>
    <body>
        
        <div id="hithere">
            <p>{{message}}</p>
            <!--One Time Binding-->
            <!--<p>{{* message}}</p>-->
            <!--Method 1-->
            <!--<input type="checkbox" v-model="classVar1" v-on:click="handle('ok', $event)"/>-->
            <!--<input type="checkbox" v-model="classVar2" v-on:click="handle('ok', $event)"/>-->
            
            <!--Method 2-->
            <label class="theLabels f" v-bind:class="{'firstLabel':classVar1}">I'm</label>
            <label class="theLabels" v-bind:class="{'secondLabel':classVar2}">back</label>
            <p></p>
            <label for="">
            <input type="checkbox" v-model="classVar1" />
            First Label
            </label>
            <label for="">
            <input type="checkbox" v-model="classVar2" />
            Second Label
            </label>
        </div>
        
        <script type="text/javascript" src="../libs/vue/dist/vue.js"></script>
        <script type="text/javascript">
            /*global Vue*/
            new Vue({
              el: '#hithere',
              data: {
                classVar1:false,
                classVar2:false,
              },
              watch:{
                 classVar1: 'classOne',
                 classVar2: 'classTwo'
              },
              methods:{
                //   handle:function(){
                //       console.log("Kool")
                //   }
                classOne:function(newVal, OldVal){
                    console.log("Class One "+newVal,OldVal);
                },
                classTwo:function(newVal, OldVal){
                    console.log("Class Two"+newVal,OldVal);
                }
              }
            });
        </script>
        
    </body>
</html>